
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 5rem;
    backdrop-filter: blur(95px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  p {
    margin-bottom: 20px;
    line-height: 1.5;
    color: #333;
  }
  
  form {
    display: grid;
    gap: 20px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }
  
  input[type="submit"]:hover {
    background-color: #555;
    margin-bottom: 100px;
  }

  button.back-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #060606;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  button.back-button:hover {
    background-color: #474747;
  }

  .logo{
    margin-top: 0%;
    width: 900px;
    padding: 0ch;
    font-family: 'poppins';
    text-transform:capitalize;
     font-size: 34px;
    font-weight:lighter;
    cursor:pointer;
    background: linear-gradient(90deg,red, turquoise,pink,yellow,black,purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size:300% 300%;
    animation: animate 8s ease-in-out infinite;
  }
  
 
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .container {
      padding: 20px;
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 24px;
    }
  }
  
.submitt{
  border-radius: 20px;
  width: 119px;
  position: fixed;
  left: 349px;
  bottom: 48px;
  height: 25px;
  background-color: beige;
}

.messagee{
  border-radius: 30px;
  background-color: beige;
}

.emaill{
  border-radius: 20px;
  background-color: beige;
}

.namee{
  border-radius: 20px;
  background-color: beige;
}

