/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 800px;
    margin: -79px auto;
    padding: 40px;
    border-radius: 5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    position: relative;
    left: -61px;
    backdrop-filter: blur(95px);
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  p {
    margin-bottom: 20px;
    line-height: 1.5;
    color: #fff;
  }
  
  .service {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
  }
  
  .service:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  button.back-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #060606;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  button.back-button:hover {
    background-color: #474747;
  }
  .logo{
    margin-top: 0%;
    width: 900px;
    padding: 0ch;
    font-family: 'poppins';
    text-transform:capitalize;
     font-size: 34px;
    font-weight:lighter;
    cursor:pointer;
    background: linear-gradient(90deg,red, turquoise,pink,yellow,black,purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size:300% 300%;
    animation: animate 8s ease-in-out infinite;
  }

  @media (max-width: 768px) {
    .container {
      padding: 20px;
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 24px;
    }
  }
  